body{
    background-image: linear-gradient(to right, #570C9E,#ae0fda,#570C9E);
    font-family: Roboto,Arial, Helvetica, sans-serif;
}

.conteudo{
    background-color: white;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 5%;
    width: 1100px;
    height: 580px;  
    border: rgba(255, 0, 0, 0.904) 5px solid; 
    border-radius: 15px;
}

.header{
    margin-top: 2%;
    text-align: center;
}

/*Criação das linhas da cruzadinha*/

.CPU{
    margin-left: 2%;
    margin-top: 2%;
}

.CPU p{
    
    float: left;
    border: #39006f 4px solid;
    width: 50px;
    font-size: 30px;
    text-align: center;
    margin: 0;
    height: 34px;
    color: #f10160;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #39006f;
}

.ULA{
    margin-left: 12.5%;
    margin-top: 5.80%;
}

.ULA p{
    border: #39006f 4px solid;
    width: 50px;
    font-size: 30px;
    text-align: center;
    margin: 0;
    height: 34px;
    color: #f10160;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #39006f;
}

.ULA .ula_letra_l {
    border-top: #39006f 2px solid;
    border-bottom: #39006f 2px solid;
    
}

.data_bus{
    margin-left: 7.7%;
    margin-top: -3.8%;
}

.data_bus p{
    float: left;
    border: #39006f 4px solid;
    width: 50px;
    font-size: 30px;
    text-align: center;
    margin: 0;
    height: 34px;
    color: #f10160;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #39006f;
}

.data_bus .letra_a2{
    color: white;
    -webkit-text-stroke-color: white;
    border: none;
}

.adress_buss{
    margin-left: 22.8%;
    margin-top: 3.4%;
    
}

.adress_buss p{
    border: #39006f 4px solid;
    width: 50px;
    font-size: 30px;
    text-align: center;
    margin: 0;
    height: 34px;
    color: #f10160;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #39006f;
}

.Registradores{
    margin-left: 28.0%;
    margin-top: -34.46%;
    
}

.Registradores p{
    float: left;
    border: #39006f 4px solid;
    width: 50px;
    font-size: 30px;
    text-align: center;
    margin: 0;
    height: 34px;
    color: #f10160;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #39006f;
}

.dual_core{
    margin-left: 17.9%;
    margin-top: 23.0%;
}

.dual_core p{
    float: left;
    border: #39006f 4px solid;
    width: 50px;
    font-size: 30px;
    text-align: center;
    margin: 0;
    height: 34px;
    color: #f10160;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #39006f;
}

.dual_core .letra_u_dualCore{
    color: white;
    -webkit-text-stroke-color: white;
    border: none;
}

.quad_core{
    margin-left: 53.0%;
    margin-top: -27.8%;
    position: absolute;
    
}

.quad_core p{
    border: #39006f 4px solid;
    
    width: 50px;
    font-size: 30px;
    text-align: center;
    margin: 0;
    height: 34px;
    color: #f10160;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #39006f;
}

.quad_core .letra_d_quad{
    visibility: hidden;
    border: none;
}

.CS{
    margin-left: 1.7%;
    margin-top: -27.7%;
    position: absolute;
    
}

.CS p{
    border: #39006f 4px solid;
    
    width: 50px;
    font-size: 30px;
    text-align: center;
    margin: 0;
    height: 34px;
    color: #f10160;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #39006f;
}

.i7{
    margin-left: 31.5%;
    margin-top: -16.0%;
    position: absolute;
    
}

.i7 p{
    border: #39006f 4px solid;
    
    width: 50px;
    font-size: 30px;
    text-align: center;
    margin: 0;
    height: 34px;
    color: #f10160;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #39006f;
}

.RAM{
    margin-left: 61.5%;
    margin-top: -16%;
    position: absolute;
    
}

.RAM p{
    border: #39006f 4px solid;
    
    width: 50px;
    font-size: 30px;
    text-align: center;
    margin: 0;
    height: 34px;
    color: #f10160;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #39006f;
}

.ROM{
    margin-left: 44.3%;
    margin-top: -16%;
    position: absolute;
    
}

.ROM p{
    border: #39006f 4px solid;
    
    width: 50px;
    font-size: 30px;
    text-align: center;
    margin: 0;
    height: 34px;
    color: #f10160;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #39006f;
}

.DMA{
    margin-left: 6.3%;
    margin-top: -21.7%;
    position: absolute;
    
}

.DMA p{
    border: #39006f 4px solid;
    
    width: 50px;
    font-size: 30px;
    text-align: center;
    margin: 0;
    height: 34px;
    color: #f10160;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #39006f;
}

.Eprom{
    margin-left: 56.9%;
    margin-top: -3.5%;
    position: absolute;
}

.Eprom p{
    float: left;
    border: #39006f 4px solid;
    width: 50px;
    font-size: 30px;
    text-align: center;
    margin: 0;
    height: 34px;
    color: #f10160;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #39006f;
}

.tituloInfo_header{
    margin-top: 1%;
}

.conteudo_info{
    background-color: white;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 10px;
    width: 800px;
    height: 320px;  
    border: rgba(255, 0, 0, 0.904) 5px solid; 
    border-radius: 15px;
    font-size: 25px;    
    color: #56049f;
    text-align: center;
}

.conteudo_info img {
    margin: auto;
}

.conteudo_info p {
    text-align: justify;
    margin: auto;
}

.conteudo_info .estilo_texto_comecar{
    margin-left: 12%;
    margin-top: 2%;
}

.header_index{
    margin-top: 0.6%;
    text-align: center;
}

.btn_iniciar{
    margin: auto;
    text-align: center;
}

.btn_style {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: solid rgba(255, 255, 255, 0) 0;
    color: rgba(255, 255, 255, 0.96);
    font-family: roboto,Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    padding: 40px;
    background-color: #c51f62;
    -webkit-box-shadow: 8px 9px 0 0 #22096F;
    -moz-box-shadow: 8px 9px 0 0 #22096F;
    box-shadow: 8px 9px 0 0 #22096F;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    
 }
 
 .btn_style:hover {
    background: #ff0066;
    border: solid rgba(255, 255, 255, 0) 0;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 30px;
    text-decoration: none;
 }



